venv/
__pycache__/
*.pkl
*.zip
*.rar
*.log
*.png
*.jpg
*.mp4

# Valhalla engine & map data
Valhalla/
valhalla_tiles/

# Large map files
*.osm.pbf
*.osm
*.tile
*.bin

# Optional: only ignore json inside valhalla if needed
valhalla/*.json
valhalla_tiles/*.json